In [1]:
a=100

In [ ]:
## Declaring and Assigning variables
age=32
height=5.5
name="Tushar"
is_student=True

## printing the variables
print("age: ", age)
print("height: ", height)
print("name: ", name)

age:  32
height:  5.5
name:  Tushar

In [ ]:
## Naming Convention

#1 variable names should be descriptive
#2 They must always start with a letter or an '_' and contain letters, numbers and underscores
#3 variables names case sensitive


## valid variable Names

first_name="Tushar"
last_name="Singh"


## Invalid Variable names

first-name="Tushar"
last-name="Singh"


## case sensitive

name="tushar"
Name="tushar"

In [3]:
## Understanding the Variables Types

#1 Python is dynamically typed, type of a variables is determined at runtime

age=25 #int
height=5.5 #float
name="tushar" #string
is_student=True

print(type(name))

<class 'str'>

In [5]:
## Type Checking and Conversion

type(height)

float

In [6]:
## Type Conversion

age=22
print(type(age))

#conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
22
<class 'str'>

In [ ]:
#example_1
age='2'
print(type(int(age)))

<class 'int'>

In [ ]:
#example_2

name="tushar"
int(name)            #its give error because NAME is a Sentence

ValueError: invalid literal for int() with base 10: 'tushar'

In [9]:
#example_3

height=5.5
type(height)

float

In [10]:
int(height)

5

In [11]:
float(int(height))

5.0

In [13]:
## Dynamic Typing

#Python allows the type of a variable to change as the program execute

var=10
print(var, type(var))

var="hello"
print(var, type(var))

var=3.14
print(var, type(var))

print(var)

10 <class 'int'>
hello <class 'str'>
3.14 <class 'float'>
3.14

In [15]:
## Inputs 

age=input("What is the age? ")
print(age)

age=int(input("What is the age? "))
print(age, type(age))

22
21 <class 'int'>

In [18]:
### Simple calculator

num1 = float(input("Enter the First Number: "))
num2 = float(input("Enter the Second Number: "))

sum = num1 + num2
differences = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum: ", sum)
print("Differences: ", differences)
print("product: ", product)
print("Quotient: ", quotient)

Sum:  17.0
Differences:  7.0
product:  60.0
Quotient:  2.4